Amostragem

In [ ]:
import pandas as pd # leitura de arquivos .csv
import random # funções randômicas
import numpy as np # biblioteca científica

In [ ]:
# Carregamento da base de dados
# base de dados: census.csv
dataset = pd.read_csv('census.csv')

In [ ]:
dataset.shape # linhas e colunas da base de dados

In [ ]:
# observar os dados
dataset.head()

In [ ]:
# busca os últimos registros da base
dataset.tail()

Amostragem aleatória simples

In [9]:
# seleciona aleatoriamente amostra na base de dados
df_amostra_aleatoria_simples = dataset.sample(n = 100) 
# O parâmetro replace =True/False habilita ou desabilita a repetição de elementos

In [10]:
df_amostra_aleatoria_simples.shape

(100, 15)

In [11]:
df_amostra_aleatoria_simples.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
9724,26,Private,176520,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,53,United-States,<=50K
20843,53,Private,126368,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,50,United-States,>50K
20211,40,Private,178417,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,<=50K
11946,60,Private,166386,11th,7,Married-civ-spouse,Machine-op-inspct,Wife,Asian-Pac-Islander,Female,0,0,30,Hong,<=50K
19463,55,Private,191367,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K